{% extends "shop/components/navigationBar.html" %}
{% block title %}Корзина{% endblock title %}
{% block content %}

<div class="main_div">

<div class="gamesList" >
    <div class="chartPanel">
        <p>Общая сумма: {{ context.total_price }}</p>
        {% if games_list %}
            <p>Баланс кошелька: {{ context.balance }}</p>
            {% if context.is_enough_money %}
                <p>Итог: {{ context.total }}</p>
                <form action="{% url 'shop:purchase' %}" method="post">{% csrf_token %}
                    <button class="button1">Купить</button>
                </form>
            {% else %}
                <p>Недостаточно средств</p>
            {% endif %}
        {% endif %}
    </div>
    <div class="chartPanel">
        Список товаров:
    </div>
    {% for game in games_list %}
    <div class="gamePanel">
        <div class="image left">
            <a href="#"><img src="{{ game.cover.url }}" align="left" height="200px" alt="" /></a>
        </div>
        <div class="text left">
            <a href="{% url 'shop:detail' game.id %}">
                <h4>{{ game.label }}</h4>
            </a>
            <p>{{ game.price }} руб. </p>
            <form action="{% url 'shop:delete-from-chart' game.id %}" method="post">{% csrf_token %}
                <button class="button1">Удалить из корзины</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock content %}