{% extends "shop/components/navigationBar.html" %}
{% block title %}{{ gameDetail.label }}{% endblock title %}
{% block content %}

<div class="main_div">

    <div id="gameDetail">
        <div class="gameInfoBlock" id="gib1">

            <div class="image left">
                <a href="#"><img src="{{ gameDetail.cover.url }}" align="left" height="300px" alt="" /></a>
            </div>

            <div class="text left">
                <h4>{{ gameDetail.label }}</h4>
                <p>дота выпуска: {{ gameDetail.release_date }} </p>
                <p>разработчик/издатель: {{ gameDetail.developer }}/{{ gameDetail.publisher }} </p>
            </div>
            <!-- кнопка покупки -->
            <form action="{% url 'shop:add-to-chart' gameDetail.id %}" method="post">{% csrf_token %}
                <div class="chart buttons">
                    {% if is_in_library %}
                        <button disabled class="button1">В библиотеке</button>
                    {% elif is_in_chart %}
                        <button disabled class="button1">в корзине</button>
                    {% else %}
                        <button class="button1">Добавить в корзину</button>
                    {% endif %}
                </div>
            </form>
        </div>

        <div class="gameInfoBlock">
            <p>{{ gameDetail.description }}</p>
        </div>
    </div>
</div>
{% endblock content %}