{% extends "shop/components/navigationBar.html" %}
{% block title %}Каталог{% endblock title %}
{% block content %}

<div class="main_div">

{% if user.is_superuser %}
<form action="{% url 'shop:add-new' %}" target="_blank">
   <button class="button1">Добавить игру</button>
</form>
{% endif %}

<div class="gamesList" >
    {% for game in games_list %}
    <div class="gamePanel">
        <div class="image left block-content">
            <a href="#"><img src="{{ game.cover.url }}" align="left" height="200px" alt="" /></a>
        </div>
        <div class="text left block-content">
            <a href="{% url 'shop:detail' game.id %}">
                <h4>{{ game.label }}</h4>
            </a>
            <p>{{ game.description }} ... </p>
        </div>
    </div>
    {% endfor %}
</div>

views: {{ context.num_visits }}
</div>
{% endblock content %}
