{% extends "shop/components/navigationBar.html" %}
{% block title %}Библиотека{% endblock title %}
{% block content %}

<div class="main_div">

There is library

<div class="gamesList" >
    {% for game in games_list %}
    <div class="gamePanel">
        <div class="image left">
            <a href="#"><img src="{{ game.cover.url }}" align="left" height="200px" alt="" /></a>
        </div>
        <div class="text left">
            <a href="{% url 'shop:detail' game.id %}">
                <h4>{{ game.label }}</h4>
            </a>
            <p>{{ game.description }} ... </p>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock content %}